<div class="container">
  <div class="columns is-mobile is-multiline">
    <div class="column is-8 is-12-mobile is-offset-2">
      <section class="hero">
        <div class="hero-body">
          <p class="title">
            Applications
          </p>
          <p class="subtitle is-6 mt-2">
            Each application provides a unique set of API keys and configuration settings needed for making request to square
            APIs
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="columns is-6-mobile">
        <div class="column is-6">
          <div class="card has-background-info">
            <div class="card-content">
             <p class="has-text-white p-title">APP</p>
             <p class="has-text-white">App ID:xwrquEwwdjiJsdofdpdfghjjk</p>
               <a [routerLink]="['/home']" [queryParams]="{data:'home'}" class="button is-white has-text-info mt-5">Open</a>
            </div>
          </div>
        </div>
        <div class="column is-6">
         <div class="card has-background-info">
           <div class="card-content">
            <p class="has-text-white p-title">SHARK15 App</p>
            <p class="has-text-white">App ID:xwrquEwwdjiJsdofdpdfghjjk</p>
              <a [routerLink]="['/home']" [queryParams]="{data:'home'}" class="button is-white has-text-info mt-5">Open</a>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="columns is-6-mobile">
        <div class="column is-6">
          <div class="card has-background-light">
            <div class="card-content">
               <p class="fa"><i class="fa fa-plus-circle is-flex"></i></p>
            </div>
          </div>
        </div>
        <!-- <div class="column">
         <div class="card has-background-info">
           <div class="card-content">
            <p class="has-text-white">SHARK15 App</p>
            <p class="has-text-white">App ID:xwrquEwwdjiJsdofdpdfghjjk</p>
              <a href="#" class="button is-white has-text-info mt-5">Open</a>
           </div>
         </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
