
html, body {
  height: 100%;
  // background-color: #f3f3f3;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'SansBold';
  font-display: swap;
  src: url('/assets/fonts/Sans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SansRegular';
  font-display: swap;
  src: url('/assets/fonts/Sans-Regular.ttf') format('truetype');
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .title {
  font-family: SansBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin-bottom: .5rem;
  font-weight: 900;
  line-height: 1.2;
  color: inherit;
}

body,
p,
button,
div,
span,
font,
option,
select,
.label,
.help,
.input,
.select,
.label,
.button,
.textarea {
  font-family: SansRegular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
  font-size: 16px;
}

// i{
//   width: 125px;
//   height: 120px;
// }

.fa{
  padding-left: 70px;
  padding-top: 10px;
}

.fa i{
  font-size: 50px;
  height: 95px;
  color: #c5c2c2;
}

.card{
  border-radius: 10px;
}

.button{
  border-radius: 8px;;
}

.p-title{
  font-weight: bold;
  font-size: large;
}

#index-navbar-start{
  margin-left: 170px;
}

nav{
 border-bottom: 1px solid #f3f3f3;
}

span .icons i .fa{
 margin: 5px;
 color: aqua;
}
