<div class="columns">
  <div class="column is-3">
    <!-- side menu here -->
    <section class="section">
      <app-sidebar></app-sidebar>
    </section>
  </div>
  <div class="column is-6">
    <section class="section">
     <button class="button is-light">default</button> <br><br>
     <h3 class="title is-4">Welcome back. Here's your bussiness at glance</h3>
     <h3 class="title is-5">Today</h3>
     <div class="columns is-mobile">
      <div class="column is-6-mobile">
         <div class="card">
           <div class="card-content">
             <p>Gross sales</p>
             <h3 class="title is-5">No Sales Yet Today</h3>
           </div>
         </div>
       </div>

       <div class="column is-6-mobile">
        <div class="card">
          <div class="card-content">
            <p>Transaction</p>
            <h3 class="title is-5">No Sales Yet Today</h3>
          </div>
        </div>
      </div>
     </div>

     <div class="columns is-mobile">
      <div class="column is-12-mobile">
         <div class="card">
           <div class="card-content">
             <p><strong>Payment types</strong></p>
             <h3 class="title is-5">No Sales Yet Today</h3>
           </div>
         </div>
       </div>
     </div>

     <div class="columns is-mobile">
      <div class="column is-12-mobile">
         <div class="card">
           <div class="card-content">
             <p><strong>Top items by sales</strong></p>
             <h3 class="title is-5">No Sales Yet Today</h3>
           </div>
         </div>
       </div>
     </div>
    </section>
  </div>
</div>
